# Logs
lib-cov
*.log
*.csv
*.dat
*.out
*.gz
*.swp

logs
results
tmp
npm-debug.log*

# Ignore built ts files
dist/**/*

# Coverage reports
coverage

# Diagnostic reports (https://nodejs.org/api/report.html)
report.[0-9]*.[0-9]*.[0-9]*.[0-9]*.json

# Runtime data
pids
*.pid
*.seed
*.pid.lock

# Compiled binary addons (https://nodejs.org/api/addons.html)
build/Release

# Dependency directories
node_modules/

# npm
*.log
*.gz

# TypeScript cache
*.tsbuildinfo

# Optional npm cache directory
.npm

# dotenv environment variables file
.env
.env.test

# OS X metadata
.DS_Store*
Icon?
._*

# Windows metadata
Thumbs.db
ehthumbs.db
Desktop.ini

# Linux metadata
.directory
*~